<!--
  Generated template for the FindDoctorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>FindDoctor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgStyle">
  <!-- <ion-searchbar
  [(ngModel)]="searchTerm"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="searchDoctor()"
  (ionCancel)="onCancel($event)">
</ion-searchbar> -->

  <ion-toolbar color="navColor">
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="searchTerm" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)"> </ion-searchbar>
      </ion-col>
      <ion-col col-2 align-self-center>
        <ion-icon ion-item name="search" color="danger" (tap)="searchDoctor()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>


  <p id="historyHeader"> History </p>
  <ion-grid>
    <ion-card color="navColor" *ngFor="let visit of history">

      <!-- <ion-item color="navColor">
          <ion-avatar item-start>
          </ion-avatar>
          <h2 id="drName">{{visit['doctorName']}}</h2>
          <p>{{visit['doctorSpeciality']}}</p>
          <p>{{visit['clinicAddress']['name']}}</p>
        </ion-item> -->
      <ion-row id="drInfoRow" align-items-center>
        <ion-col col-2>
          <ion-img src="assets/imgs/doctor.png"></ion-img>
        </ion-col>
        <ion-col col-10>
          <h2 id="drName">{{visit['doctorName']}}</h2>
          <p>{{visit['doctorSpeciality']}}</p>
          <p>{{visit['clinicAddress']['name']}}</p>
        </ion-col>
      </ion-row>


      <ion-row id="buttonRow">
        <ion-col>
          <button ion-button full icon-start clear color="navColor">
            <ion-icon name="call"></ion-icon>
            <div>Call Doctor</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full icon-start clear color="navColor">
            <ion-icon name="more"></ion-icon>
            <div>Consult</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-grid>

</ion-content>
