page-find-doctor {
  // TO hide search icon by default

  .input-cover { position: static; }


  ion-content {
    height: 100%;
  }
  ion-toolbar {
    height: 10%;
  }
  .searchbar-search-icon {
    display: none;
    width: 0;
    height: 0;
  }
  .searchbar-input {
    padding-left: 9px !important;
  }
  ion-grid {
    // height: 90%;
  }

  ion-card{
    height:30%;
  }
  ion-img {
    background: rgba(0, 0, 0, 0);
    contain: inherit;
    width:40%;
    height: 40%;
    max-height: 84px;
    max-width: 84px;
    min-height: 58px;
    min-width: 58px;
  }

  #drInfoRow{
    height:70%;

  }
  #buttonRow{
    height: 30%;
    background-color: map-get($colors,buttonColor);
    color:white;
  }

  
  #historyHeader {
    text-align: center;
    font-size: 1.6em;
  }
  #drName {
    text-transform: capitalize;
  }
}
