<ion-header>
  <ion-navbar color="navColor">
    <ion-title>Patient View</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bgStyle">
  <ion-grid>
      <ion-row>
        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="email" placeholder="email" type="text"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item>
          <ion-label>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
        </ion-item>
      </ion-row>
    <ion-row justify-content-center>
      <button id="login-button" ion-button (click)="login()" color="primary" class="login-button">Login</button>
      <br>
    </ion-row>
    <ion-row justify-content-center>
      <button id="signup-button" ion-button (click)="launchSignup()" class="create-account">Create an Account</button>
    </ion-row>
  </ion-grid>


</ion-content>
