<!--
  Generated template for the OrdersPendingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="bgStyle">
<h1> Oders Pending </h1>
</ion-content>
