<!--
  Generated template for the OrdersOffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="bgStyle">
<h1> Orders Offers</h1>
</ion-content>
