<!--
  Generated template for the ConsultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

    <ion-navbar color="navColor" >
      <ion-title>{{doctor['name']}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content  class="bgStyle">
    <!-- <ion-card color="navColor">
  
      <ion-item color="navColor">
        <ion-avatar item-start>
          <img src="assets/imgs/doctor.png">
        </ion-avatar>
        <h2>Doctor Name</h2>
        <p>Doctor Speciality</p>
        <p>Doctor Hospital</p>
      </ion-item>
   </ion-card>   -->
  
    <!-- <div class="info-parent">
      <div class="info-child doctor-image">
        <ion-img width=80 height=80 src="assets/imgs/doctor.png"></ion-img>
      </div>
      <div class="info-child doctor-details">
          <h2>{{doctor['name']}}</h2>
          <p>{{doctor['speciality']}}</p>
          <p>XX Years Experience</p>
      </div>
    </div> -->
  
    <ion-tabs color="navColor" >
      <ion-tab [root]="infoPage" [rootParams]="doctor" tabTitle="Info"></ion-tab>
      <ion-tab [root]="reviewPage"  [rootParams]="doctor"tabTitle="Reviews"></ion-tab>
    </ion-tabs>
  </ion-content>
  