page-consult {
    // .info-parent{
    //     width: 100%;
    //     float: left;
    //     background-color: map-get($colors, navColor)
    // }
    
    // .info-child{
    //     float: left;
    //     margin-right: 0.7%;
    // }
    
    // .doctor-image{
    //     margin-top:1.5%;
    // }
    
    // .doctor-details{
    //     line-height:1%;
    //     color:white;
    // }

    ion-grid {
        height: 100%;
      }
      #drDetails {
        height: 25%;
        background: map-get($colors, navColor);
      }
      #drInfo {
        height: 100%; //   white-space: normal;
      }
      ion-img {
        background: rgba(0, 0, 0, 0);
        contain: inherit;
      }
      #imgRow {
        height: 100%;
      } //   #drImg {
      //     height: 100%;
      //     width: auto;
      //     margin: auto;
      //     display: block;
      //     align-items: center;
      //   }
      #drName {
        text-transform: capitalize;
        color: white;
      }
      #drSpeciality {
        text-transform: capitalize;
        color: white;
      }

      ion-row{
          margin-bottom:1%;
      }

      #reasonForVisit{
        background-color:map-get($colors,navColor)
      }

      #confirmButtonRow{
          height:10%;
      }

      #confirmButtonRow button{
          height:100%;
          width:100%;
      }
}

