<!--
  Generated template for the ConsultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>Consult {{doctor['name']}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bgStyle">
  <ion-grid>
    <ion-row id="drDetails">
      <ion-col col-1>
        <ion-row align-items-center id="imgRow">
          <ion-img id="drImg" src="assets/imgs/doctor.png"></ion-img>
        </ion-row>
      </ion-col>
      <ion-col col-11>
        <ion-row align-items-center wrap text-wrap id="drInfo">
          <div>
            <h2 id="drName">{{doctor['name']}}</h2>
            <p id="drSpeciality">{{doctor['speciality']}}</p>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <input placeholder="Date" type="text" [(ngModel)]="date" onfocus="(this.type='date')" id="date"> -->
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime displayFormat="hh:mma" [(ngModel)]="time"></ion-datetime>
        </ion-item>
        <!-- <input placeholder="Time" type="text" [(ngModel)]="time" onfocus="(this.type='time')" id="time"> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card color="navColor">
        <ion-card-header>
          Work Places
        </ion-card-header>
        <ion-list radio-group>

          <div *ngFor="let place of workplaces; let i=index">
            <ion-card-content *ngIf="i%3 == 0">
              <ion-row>
                <ion-col>
                  <ion-label *ngIf="i < workplaces.length">{{workplaces[i]}}</ion-label>
                  <ion-radio *ngIf="i < workplaces.length" value="i" (ionSelect)="select(i)"></ion-radio>
                </ion-col>
                <ion-col>
                  <ion-label *ngIf="i+1 < workplaces.length">{{workplaces[i+1]}}</ion-label>
                  <ion-radio *ngIf="i+1 < workplaces.length " value="i+1" (ionSelect)="select(i+1)"></ion-radio>
                  <!-- <button ion-button full color="buttonColor" *ngIf="i+1 < workplaces.length"> {{workplaces[i+1]}}</button> -->
                </ion-col>
                <ion-col>
                  <ion-label *ngIf="i+2 < workplaces.length">{{workplaces[i+2]}}</ion-label>
                  <ion-radio *ngIf="i+2 < workplaces.length" value="i+2" (ionSelect)="select(i+2)"></ion-radio>
                  <!-- <button ion-button full color="buttonColor" *ngIf="i+2 < workplaces.length">{{workplaces[i+2]}}</button> -->
                </ion-col>
              </ion-row>
            </ion-card-content>
          </div>
        </ion-list>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card color="navColor">
        <ion-card-header>
          Reason For Visit
        </ion-card-header>
        <ion-card-content>
          <ion-textarea id="reasonForVisit" placeholder="Reason For Visit" [(ngModel)]="reasonForVisit"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row id="confirmButtonRow">
      <button ion-button color="secondary" (tap)="prepareDataToSend()"> Make Appointment </button>
    </ion-row>
  </ion-grid>


</ion-content>
