<!--
  Generated template for the EmergencyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>EmergencyPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgStyle">

</ion-content>
