<ion-header color="navColor">
  <!-- <ion-navbar color="navColor">
    <ion-row>
      <ion-col col-50>
        <ion-title item-start id="header"> Patient View </ion-title>
      </ion-col>
      <ion-col col-50>
        <button id="logout" ion-button item-end (click)="logout()">Logout!</button>

      </ion-col>
    </ion-row>
  </ion-navbar> -->
  <ion-navbar color="navColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgStyle">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row justify-content-center align-items-center class="icon-row">
          <ion-icon class="my-icon" name="myIcon-prescription"></ion-icon>
        </ion-row>
        <ion-row class="button-row">
          <button class="container-buttons" ion-button (tap)="goToPrescriptions()"> Prescriptions </button>

        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center align-items-center class="icon-row">
          <ion-icon class="my-icon" name="myIcon-doctor"></ion-icon>
        </ion-row>
        <ion-row class="button-row">
          <button class="container-buttons" ion-button (tap)="goToFindDoctor()"> Find Doctor </button>
        </ion-row>
      </ion-col>
      <!-- <ion-col>
      </ion-col> -->
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-row justify-content-center align-items-center class="icon-row">
          <ion-icon class="my-icon" name="myIcon-orders"></ion-icon>
        </ion-row>
        <ion-row class="button-row">
          <button class="container-buttons" ion-button (tap)="goToOrders()"> Orders </button>
        </ion-row>
      </ion-col>
      <!-- <ion-col>
        <button class="container-buttons" ion-button (tap)="goToOrders()"> Orders </button>
      </ion-col> -->

      <ion-col>
        <ion-row justify-content-center align-items-center class="icon-row">
          <ion-icon class="my-icon" name="myIcon-appointments"></ion-icon>
        </ion-row>
        <ion-row class="button-row">
          <button class="container-buttons" ion-button (tap)="goToAppointments()">Appointments</button>
        </ion-row>
      </ion-col>
      <!-- <ion-col>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <!-- <button ion-button (tap)="goToEmergency()"> Emergency </button> -->
  <div id="appointments" *ngFor="let appointment of appointments; let i=index">
    <ion-row *ngIf="appointment['status'] != 'Cancelled' ">
      <ion-card color="navColor">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <p>{{appointment['time']}}</p>
            </ion-col>
            <ion-col>
              <p id="drName">Dr. {{appointment['doctorName']}}</p>
            </ion-col>
            <ion-col>
              <button ion-button class="moreInfo" (tap)="openAppointmentModel(i)">More Info</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              {{appointment['date'] | slice:8:11}}/{{appointment['date'] | slice:5:7}} /{{ appointment['date'] | slice:2:4}}
            </ion-col>
            <ion-col>
              {{appointment['status']}}
            </ion-col>
            <ion-col>

            </ion-col>
          </ion-row>
        </ion-card-content>

      </ion-card>
    </ion-row>
  </div>

</ion-content>
