page-home {
    #header{
        float:left;
        margin-top:1.5%;
    }
    #logout{
        float:right;
    }
    
    ion-row{
        height:50%;
    }
    
    .container-buttons{
        height:100%;
        width:100%;
        background-color:map-get($colors,navColor)
    
    
    }
    
    
    ion-grid{
        height:40%;
    }
    
    ion-grid ion-col{
        background-color:map-get($colors, navColor)
    }
    
    .my-icon {
        height:100%;
        width:100%;
        color:white;
    }
    
    .button-row{
        height:30%;
    }
    
    .icon-row{
        height:70%;
    }

    .moreInfo{
        float:right;
        height:75%;
        
    }

    #drName{
        text-transform: capitalize;
    }
}

