<!--
  Generated template for the AppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>Appointments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs color="navColor">
    <ion-tab [root]="currentAppointmentsPage" [rootParams]="future" tabTitle="Current"></ion-tab>
    <ion-tab [root]="pastAppointmentsPage" [rootParams]="past" tabTitle="Past"></ion-tab>
  </ion-tabs>
</ion-content>
