<!--
  Generated template for the PrescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>Prescription</ion-title>

  </ion-navbar>

</ion-header>


<ion-content class="bgStyle">
  <ion-tabs color="navColor">
    <ion-tab tabTitle="Current" [rootParams]="prescriptions" [root]="currentPage"></ion-tab>
    <ion-tab tabTitle="Past" [root]="pastPage"></ion-tab>
  </ion-tabs>

  <!-- <h1> HELLO </h1> -->
</ion-content>
