// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bgStyle{
    background-color: #37474F;

}

ion-icon {
    &[class*="myIcon-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        // width: 1em;
        // height: 1em;
    }
    // custom icons
    &[class*="myIcon-prescription"] {
        mask-image: url(../assets/imgs/p.svg);
    }
    
    &[class*="myIcon-doctor"] {
        mask-image: url(../assets/imgs/doctor.svg);
    }

    &[class*="myIcon-orders"] {
        mask-image: url(../assets/imgs/orders.svg);
    }

    &[class*="myIcon-appointments"] {
        mask-image: url(../assets/imgs/appointment.svg);
    }
}