<!-- <ion-nav [root]="rootPage"></ion-nav> -->
<ion-menu [content]="content" color="navColor">
    <ion-header color="navColor">
      <ion-toolbar color="navColor">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="bgStyle">
      <ion-list color="navColor">
        <button menuClose ion-item  color="navColor" *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>

        <button menuClose color="navColor" ion-item (click)="logout()"> Logout </button>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>