<!--
  Generated template for the PrescriptionPastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="bgStyle">
<h1> Past Prescription Page </h1>
</ion-content>
