<!--
  Generated template for the PastAppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bgStyle">
  <!-- <h1> Past Appointments </h1>

  <ion-card color="navColor" *ngFor="let appointment of appointments">

      <ion-card-content>
        <ion-row>
          <ion-col style="font-size:2em">
            {{appointment['time']}}
          </ion-col>
          <ion-col style="font-size:2em">
            Dr. {{appointment['doctorName']}}
          </ion-col>
    
          <ion-col>
            <button ion-button style="float:right;">View More</button>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top:-2%">
          <ion-col>
            {{appointment['date']}}
          </ion-col>
          <ion-col>
              {{appointment['status']}}
          </ion-col>
     
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-card-content>
  
    </ion-card> -->
  <p id="heading"> Past Appointments </p>
  <!-- appointments -->
  <ion-card color="navColor" *ngFor="let appointment of appointments">

    <ion-card-content>
      <ion-row>
        <ion-col>
          <p id="time">{{appointment['time']}}</p>
        </ion-col>
        <ion-col>
          <p id="drName">Dr. {{appointment['doctorName']}}</p>
        </ion-col>

        <ion-col>
          <button id="moreInfo" ion-button>More</button>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:-2%">
        <ion-col>
          <p id="date">{{appointment['date'] | slice:8:11}}/{{appointment['date'] | slice:5:7}}/{{ appointment['date'] | slice:2:4}}</p>
        </ion-col>
        <ion-col>
          <p id="status">{{appointment['status']}}</p>
        </ion-col>

        <ion-col>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>
