page-past-appointments {

    #heading{
        justify-content: center;
        text-align: center;
        font-size:1.5em;
        color:white;
    }
    
    #drName{
        text-transform: capitalize;
    }
    
    #moreInfo{
        height:85%;
        width:85%;
        float:right;
    }
}
