<!--
  Generated template for the DoctorInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="bgStyle">
  <!-- <ion-row id="row1" style="height:15%">
    <div class="info-parent">
      <div class="info-child doctor-image">
        <ion-img width=80 height=80 src="assets/imgs/doctor.png"></ion-img>
      </div>
      <div class="info-child doctor-details">
        <h2>{{doctor['name']}}</h2>
        <p>{{doctor['speciality']}}</p>
        <p>XX Years Experience</p>
      </div>
    </div>
  </ion-row> -->
  <ion-grid>
    <ion-row id="drDetails">
      <ion-col col-1>
        <ion-row align-items-center id="imgRow">
          <ion-img id="drImg" src="assets/imgs/doctor.png"></ion-img>
        </ion-row>
      </ion-col>
      <ion-col col-11>
        <ion-row align-items-center wrap text-wrap id="drInfo">
          <div>
            <h2 id="drName">{{doctor['name']}}</h2>
            <p id="drSpeciality">{{doctor['speciality']}}</p>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row id="drRatingPriceRow">
      <ion-col>
        <p id="drAvgPrice">CASH : 200</p>
      </ion-col>
      <ion-col>
        <p id="drAvgRating">4.7/5</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card color="navColor">
        <ion-card-header>
          Bio
        </ion-card-header>
        <ion-card-content>
          {{doctor['bio']}}
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card color="navColor">
        <ion-card-header>
          Work Places
        </ion-card-header>
        <div *ngFor="let place of workplaces; let i=index">
          <ion-card-content *ngIf="i%3 == 0">
            <ion-row>
              <ion-col>
                <button ion-button full color="buttonColor" *ngIf="i < workplaces.length" (tap)="goToWorkplaceInfo(i)"> {{workplaces[i]}}</button>
              </ion-col>
              <ion-col>
                <button ion-button full color="buttonColor" *ngIf="i+1 < workplaces.length" (tap)="goToWorkplaceInfo(i+1)">{{workplaces[i+1]}}</button>
              </ion-col>
              <ion-col>
                <button ion-button full color="buttonColor" *ngIf="i+2 < workplaces.length" (tap)="goToWorkplaceInfo(i+2)">{{workplaces[i+2]}}</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </div>

      </ion-card>

    </ion-row>

    <ion-row id="confirmButtonRow">
      <button ion-button full color="secondary"  (tap)="goToConsult()">Consult</button>
    </ion-row>

  </ion-grid>

</ion-content>
