page-search {
    ion-grid{
        height: 100%;
    }

    ion-card{
        height:20%;
    }
    #drInfoRow{
        height:65%;
    }
    #drButtonRow{
        height: 35%;
    }
    ion-img {
        background: rgba(0, 0, 0, 0);
        contain: inherit;
        width:40%;
        height: 40%;
        max-height: 84px;
        max-width: 84px;
        min-height: 58px;
        min-width: 58px;
      }

    #drName{
        font-size:1.5em;
        text-transform: capitalize;
    }
    #drButtonRow{
        background-color: map-get($colors,buttonColor)
    }
}
