<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- ngFor with Index : https://stackoverflow.com/questions/35405618/ngfor-with-index-as-value-in-attribute -->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>Results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgStyle">
  <ion-grid>
    <ion-card *ngFor="let doctor of doctors; let i = index" [attr.data-index]="i" color="navColor">

      <!-- <ion-item color="navColor" style="height:9vw;">
            <ion-avatar item-start>
            </ion-avatar>
            <h2>{{doctor['name']}}</h2>
            <p>{{doctor['speciality']}}</p>
          </ion-item> -->

      <ion-row color="navColor" id="drInfoRow" align-items-center	>
        <ion-col col-2>
          <ion-img src="assets/imgs/doctor.png"></ion-img>
        </ion-col>
        <ion-col col-9>
          <h2 id="drName">{{doctor['name']}}</h2>
          <p id="drSpeciality">{{doctor['speciality']}}</p>
        </ion-col>
      </ion-row>

      
      <!-- style="background:#455A64" -->
      <ion-row  id="drButtonRow">
        <ion-col>
          <button ion-button full icon-start clear color="navColor">
            <ion-icon name="call"></ion-icon>
            <div>Call</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full icon-start clear color="navColor">
            <ion-icon name="more"></ion-icon>
            <div (click)="goToMoreInfoPage(i)">Info</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full icon-start clear color="navColor">
            <ion-icon name="more"></ion-icon>
            <div (click)="goToConsultPage(i)">Consult</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

</ion-content>
