<!--
  Generated template for the PrescriptionCurrentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding class="bgStyle">

  <p id="heading">Current Prescription Page</p>

  <ion-card *ngFor="let prescription of prescriptions; let i = index;" color="navColor">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <!-- To get in DD / MM / YYYY -->
          <p id="date">{{prescription['date'] | slice:8:11}}/{{prescription['date'] | slice:5:7}}</p>
        </ion-col>


        <ion-col>
          <p id="drName">Dr. {{prescription['doctorName']}}</p>
        </ion-col>

        <ion-col>
          <button id="view" ion-button (tap)="viewPrescription(prescriptions[i])">View</button>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
