page-prescription-current {
    #heading{
        justify-content: center;
        text-align: center;
        font-size:1.2em;
        color:white;
    }
    
    #drName{
        text-transform: capitalize;
    }
    #view{
        height:85%;
        width:85%;
        float:right;
    }
}

