page-view-prescription {
  ion-grid {
    height: 100%; 
  }
  #drDetails {
    height: 35%; 
    background: map-get($colors,navColor);
  }

  #drInfo{
      height: 100%;
    //   white-space: normal;

  }

  ion-img{
      background:rgba(0,0,0,0);
      contain: inherit;
  }

  #imgRow{
      height: 100%;
  }
//   #drImg {
//     height: 100%;
//     width: auto;
//     margin: auto;
//     display: block;
//     align-items: center;
//   }
  #drName {
    text-transform: capitalize;
    color: white;
  }
  #drSpeciality {
    text-transform: capitalize;
    color: white;
  }
  #drAddress {
    color: white;
  }
  #date {
    color: white;
  }

  #labTestHeader{
    color:white; 
    text-align: center;
    font-size:1.5em;

  }

  #medicineHeader{
    color:white; 
    text-align: center;
    font-size:1.5em;
  }
}
