<!--
  Generated template for the ViewPrescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="bgStyle">

  <ion-grid>
    <ion-row id="drDetails">
      <ion-col col-1>
        <ion-row align-items-center id="imgRow">
          <ion-img id="drImg" src="assets/imgs/doctor.png"></ion-img>
        </ion-row>
      </ion-col>
      <ion-col col-11>
        <ion-row align-items-center wrap text-wrap id="drInfo">
          <div>
            <h2 id="drName">{{prescription['doctorName']}}</h2>
            <p id="drSpeciality">ADD SPECIALITY HERE</p>
            <p id="drAddress">
              <b>{{prescription['clinicAddress']['name']}}</b>, {{prescription['clinicAddress']['address']}}
            </p>
            <p id="date">
              <b>Date: </b> {{prescription['date']}}
            </p>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Med List Start -->
    <p id="medicineHeader"> Medicines </p>

    <ion-row>
      <ion-card color="navColor" *ngFor="let medicine of prescription['medicines']">

        <ion-card-header>
          <h1>{{medicine['name']}}</h1>
        </ion-card-header>
        <ion-card-content>
          <!-- Add card content here! -->

          <p style="margin-left:1%;">{{medicine['instructions'][0]}}-{{medicine['instructions'][1]}}-{{medicine['instructions'][2]}} for {{medicine['duration']}}
            days
          </p>

          <p>Reason : {{medicine['reason']}}</p>

        </ion-card-content>

      </ion-card>
    </ion-row>

    <p id="labTestHeader"> Lab Tests </p>

    <ion-row>
      <ion-card color="navColor" *ngFor="let test of prescription['tests']">

        <ion-card-header>
          <h1>{{test['name']}}</h1>
        </ion-card-header>
        <ion-card-content>
          <!-- Add card content here! -->
          <p>{{test['comments']}}</p>
        </ion-card-content>

      </ion-card>
    </ion-row>

  </ion-grid>
</ion-content>

<!-- <div class="info-parent">
            <div class="info-child doctor-image">
              <ion-img width=80 height=80 src="assets/imgs/doctor.png"></ion-img>
            </div>
            <div class="info-child doctor-details">
              <h2>{{prescription['doctorName']}}</h2>
              <p>ADD SPECIALITY HERE</p>
              <p>
                <b>{{prescription['clinicAddress']['name']}}</b>, {{prescription['clinicAddress']['address']}}</p>
              <p>
                <b>Date: </b> {{prescription['date']}}</p>
            </div>
          </div> -->
