<!--
  Generated template for the CurrentAppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="bgStyle">
  <p id="heading"> Current Appointments </p>
  <!-- appointments -->
  <ion-card color="navColor" *ngFor="let appointment of appointments">

    <ion-card-content>
      <!-- Add card content here! -->
      <ion-row>
        <ion-col>
          <p id="time">{{appointment['time']}}</p>
        </ion-col>
        <ion-col>
          <p id="drName">Dr. {{appointment['doctorName']}}</p>
        </ion-col>

        <ion-col>
          <button id="moreInfo" ion-button>More</button>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:-2%">
        <ion-col>
          <p id="date">{{appointment['date'] | slice:8:11}}/{{appointment['date'] | slice:5:7}} /{{ appointment['date'] | slice:2:4}}</p>
        </ion-col>
        <ion-col>
          <p id="status">{{appointment['status']}}</p>
        </ion-col>

        <ion-col>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>
