page-doctor-review {

}


.info-parent{
    width: 100%;
    float: left;
    background-color: map-get($colors, navColor)
}

.info-child{
    float: left;
    margin-right: 0.7%;
}

.doctor-image{
    margin-top:1.5%;
}

.doctor-details{
    line-height:1%;
    color:white;
}