<!--
  Generated template for the DoctorInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="bgStyle">
  <div class="info-parent">
    <div class="info-child doctor-image">
      <ion-img width=80 height=80 src="assets/imgs/doctor.png"></ion-img>
    </div>
    <div class="info-child doctor-details">
      <h2>{{doctor['name']}}</h2>
      <p>{{doctor['speciality']}}</p>
      <p>XX Years Experience</p>
    </div>
  </div>

  <div class="card-holder" style="margin-top:11%">
    <ion-card>
      <ion-item color="navColor">
        <ion-avatar item-start>
          <img src="assets/imgs/doctor.png">
        </ion-avatar>
        <h2 style="color:white">Moochwala</h2>
        <h2 style="color:white;">* * * * * </h2>
      </ion-item>

      <ion-row style="background:#455A64">
        <ion-card-content>
          This is a review. This really is a review. Doctor is great, but app still doesn't work :(

        </ion-card-content>
      </ion-row>
    </ion-card>

  </div>

</ion-content>
