<ion-header>

  <ion-navbar color="navColor">
    <ion-title>Create Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgStyle">

  <ion-row class="account-form">
    <ion-col>
      <ion-list inset>

        <ion-item>
          <ion-label>
            <ion-icon name="mail"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="name" placeholder="Name" type="text"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <input placeholder="Date" type="text" [(ngModel)]="dob" onfocus="(this.type='date')" id="date">
        </ion-item> -->
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dob"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="address" placeholder="Address" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="contactNumber" placeholder="Contact" type="text"></ion-input>
        </ion-item>

      </ion-list>

      <button ion-button (click)="register()" class="continue-button">Register</button>

    </ion-col>
  </ion-row>

</ion-content>
