<!--
  Generated template for the OrdersPastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="bgStyle">
<h1> Orders Past</h1>
</ion-content>
