<!--
  Generated template for the AppointmentInfoModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="bgStyle">
  <ion-row id="row1" style="height:15%">
    <div class="info-parent">
      <div class="info-child doctor-image">
        <ion-img width=80 height=80 src="assets/imgs/doctor.png"></ion-img>
      </div>
      <div class="info-child doctor-details">
        <h2>{{details['doctorName']}}</h2>
        <p>{{details['speciality']}}</p>
        <p>XX Years Experience</p>
      </div>
    </div>
  </ion-row>
  <ion-row class="row2" style="height:10%;">
    <ion-col>
      <p>CASH : 200</p>
    </ion-col>
    <ion-col>
      <p>4.7/5</p>
    </ion-col>
  </ion-row>
  <ion-row style="height:30%;">
    <ion-card color="navColor">
      <ion-card-header>
        Address
      </ion-card-header>
      <ion-card-content>
        <h2>{{(details['clinicAddress'])['name']}}</h2>
        <p> {{(details['clinicAddress'])['address']}}</p>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row style="height:35%">
    <ion-card color="navColor" >
      <ion-card-header>
        Reason For Visit
      </ion-card-header>
      <ion-card-content>
        {{details['reasonForVisit']}}
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row style="height:20%">
      <button ion-button color="danger" full (click)="cancelAppointment()">Cancel Appointment</button>

    <button ion-button color="danger" full (click)="dismiss()">Close Modal</button>
  </ion-row>
</ion-content>
