<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>OrdersPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgStyle">
  <ion-tabs color="navColor">
    <ion-tab tabTitle="Offers" [root]="offersPage"></ion-tab> 
    <ion-tab tabTitle="Pending" [root]="pendingPage"></ion-tab> 
    <ion-tab tabTitle="Past" [root]="pastPage"></ion-tab> 

  </ion-tabs>
</ion-content>
