page-workplace-info {
    ion-grid {
        height: 100%;
      }
      #drDetails {
        height: 25%;
        background: map-get($colors, navColor);
      }
      #drInfo {
        height: 100%; //   white-space: normal;
      }
      ion-img {
        background: rgba(0, 0, 0, 0);
        contain: inherit;
      }
      #imgRow {
        height: 100%;
      } //   #drImg {
      //     height: 100%;
      //     width: auto;
      //     margin: auto;
      //     display: block;
      //     align-items: center;
      //   }
      #drName {
        text-transform: capitalize;
        color: white;
      }
      #drSpeciality {
        text-transform: capitalize;
        color: white;
      }
      .drRatingPriceRow{
          height:10%;
      }
}

