<!--
  Generated template for the WorkplaceInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="bgStyle">
  <ion-grid>
    <ion-row id="drDetails">
      <ion-col col-1>
        <ion-row align-items-center id="imgRow">
          <ion-img id="drImg" src="assets/imgs/doctor.png"></ion-img>
        </ion-row>
      </ion-col>
      <ion-col col-11>
        <ion-row align-items-center wrap text-wrap id="drInfo">
          <div>
            <h2 id="drName">{{doctor['name']}}</h2>
            <p id="drSpeciality">{{doctor['speciality']}}</p>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row id="drRatingPriceRow">
      <ion-col>
        <p id="drAvgPrice">CASH : 200</p>
      </ion-col>
      <ion-col>
        <p id="drAvgRating">4.7/5</p>
      </ion-col>
    </ion-row>
    <ion-row id="addressRow">
      <ion-card color="navColor">
        <ion-card-header>
          Address
        </ion-card-header>
        <ion-card-content>
          <h2>{{address['name']}}</h2>
          <p> {{address['address']}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row id="timingRow">
      <ion-card color="navColor">
        <ion-card-header>
          Timings
        </ion-card-header>
        <ion-card-content>
          <p *ngFor="let time of address['timing']">{{time}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>



</ion-content>
