<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TestPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="account-form">
    <ion-col>
      <ion-list inset>

        <ion-item>
          <ion-label>
            <ion-icon name="mail"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="dob" placeholder="dob" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="rating" placeholder="rating" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="speciality" placeholder="speciality" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="bio" placeholder="bio" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="name" placeholder="name" type="text"></ion-input>
        </ion-item>


      </ion-list>

      <button ion-button (click)="registerDoctor()" class="continue-button">Register</button>

    </ion-col>
  </ion-row>

</ion-content>
